# Datasets
air_dataset/
images/
gopro_videos/

# Videos
*.mp4
*.MP4
*.mov
*.MOV
*.avi

# Virtual environments
venv/
env/
.venv/
gate_env/

# Python cache / packaging
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
